<html ng-app="EventSquared">
  <head>
    <title>Event Squared</title>
    <link rel="stylesheet" href="assets/styles/bootstrap.css"></link>
    <link rel="stylesheet" href="assets/styles/bootstrap-theme.css"></link>
  </head>
  <body>
    <h1>Event Squared</h1>
    <div ng-view class="container-fluid"></div>
  </body>

  <!-- vendor -->
  <script src="assets/javascript/vendor/jquery-3.1.0.js"></script>
  <script src="assets/javascript/vendor/angular.js"></script>
  <script src="assets/javascript/vendor/angular-route.js"></script>
  <script src="assets/javascript/vendor/angular-resource.js"></script>

  <!-- App -->
  <script src="assets/javascript/app.js"></script>
  <script src="assets/javascript/routes.js"></script>

  <!-- Directives -->
  <!-- Controllers -->
  <script src="assets/javascript/controllers/eventIndexController.js"></script>
  <script src="assets/javascript/controllers/eventCreateController.js"></script>
  <script src="assets/javascript/controllers/eventEditController.js"></script>
  <script src="assets/javascript/controllers/eventShowController.js"></script>

  <!-- Services -->
  <script src="assets/javascript/services/event.js"></script>
</html>
