<html ng-app="EventSquared">
  <head>
    <title>Event Squared</title>
    <link rel="stylesheet" href="assets/styles/bootstrap.css"></link>
    <link rel="stylesheet" href="assets/styles/bootstrap-theme.css"></link>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">
            <a href="/#/">Event Squared</a>
          </div>
        </div>
        <es-page-nav></es-page-nav>
      </div>
    </nav>
    <div ng-view class="container-fluid"></div>
  </body>

  <!-- vendor -->
  <script src="assets/javascript/vendor/jquery-3.1.0.js"></script>
  <script src="assets/javascript/vendor/angular.js"></script>
  <script src="assets/javascript/vendor/angular-route.js"></script>
  <script src="assets/javascript/vendor/angular-resource.js"></script>

  <!-- App -->
  <script src="assets/javascript/app.js"></script>
  <script src="assets/javascript/routes.js"></script>

  <!-- Directives -->
  <script src="assets/javascript/directives/esPageNav.js"></script>

  <!-- Controllers -->
  <script src="assets/javascript/controllers/eventIndexController.js"></script>
  <script src="assets/javascript/controllers/eventCreateController.js"></script>
  <script src="assets/javascript/controllers/eventEditController.js"></script>
  <script src="assets/javascript/controllers/eventShowController.js"></script>
  <script src="assets/javascript/controllers/userIndexController.js"></script>
  <script src="assets/javascript/controllers/userShowController.js"></script>

  <!-- Services -->
  <script src="assets/javascript/services/event.js"></script>
  <script src="assets/javascript/services/user.js"></script>
  <script src="assets/javascript/services/category.js"></script>
</html>
